.loadMore {
  font-family: "Cinecaption", sans-serif;
  background-color: #ffcc00;
  color: #333;
  font-size: 18px;
  padding: 12px 30px;
  border: 3px dashed #333;
  border-radius: 10px;
  box-shadow: 2px 2px 0 #333;
  cursor: pointer;
  margin: 30px auto 50px auto;
  display: block;
  width: fit-content;
  transition: all 0.3s ease;
}

.loadMore:hover {
  background-color: #ffe066;
  box-shadow: 2px 2px 0 #666;
}
